
/*
@media only screen and (max-width: 1661px) {
    .one_grid {
        column-gap: 2em;
    }
}

@media only screen and (max-width: 1593px) and (min-width: 15562px) {
    .footer_links2 {
        margin-right: 85px;
    }
}

@media only screen and (max-width: 768px) {
    .two_grid {
        margin-left: 75px;
        align-items: initial;
        padding: 0;
        
    }
}

@media only screen and (max-width: 1661px) {
    .one_grid {
        column-gap: 2em;
    }
}
@media only screen and (max-width: 1661px) {
    .one_grid {
        column-gap: 2em;
    }
}
*/

@media only screen and (max-width: 1661px) {
    .one_grid {
        column-gap: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .header_text_h1 {
        font-size: 1rem;  
    }

    .profiles {
        margin-right: 1rem;
    }
}