/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    z-index: 100;
    display: grid;
    grid: 
    'header'auto 
    'main' 1fr 
    'footer'auto / 1fr;
}

a, li {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    list-style-type: none;
}

h1, h2, h3, h4 { font-family: 'Raleway', sans-serif; }

header { 
    grid-area: header; 
    background-color: hsl(217, 28%, 15%);
}

main { 
    grid-area: main;
    background-color: hsl(218, 28%, 13%); 
    z-index: -1;
}

footer { 
    grid-area: footer; 
    background: hsl(216, 53%, 9%);
}

img { max-width: 100%; }

/* ---------------------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------------------- */

.container {
    padding: 1.25rem;
    max-width: 100%;
    width: 81.42857142857143vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* ------- BUTTONS -------- */
.btn {
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 300px;
    padding: 0.78225rem 4.4375rem;
    text-align: center;
    border: none;
}

/* ---------------------------------------- */
/* NAV */
/* ---------------------------------------- */

nav {
    margin-top: 1.875rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 3.125rem;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header.header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: 100% 23.5rem;
}

.top_image {
    margin-top: 2.5rem;
    text-align: center;
    margin: auto; 
}

.header_text_h1 {
    margin: 1.875rem 0 2.5rem 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.26rem;
} 

.header_text_p {
    margin: auto;
    max-width: 31.25rem;
    text-align: center;
    margin-bottom: 1.5625rem;
}

.get_started {
    display: flex;
    justify-content: center;
    margin-bottom: 8.75rem;
}

/* ---------------------------------------- */
/* MAIN */
/* ---------------------------------------- */

/* ------- ICONS AND TEXT -------- */

.two_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.75rem 9.1875rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 8.75rem;
    padding: 0 9.375rem;
}

.access,
.security,
.real_time,
.store {
    max-width: 28.125rem;
    text-align: center;
}

.security {
    margin-top: -0.9375rem;
}

/* ------- STAY PRODUCTIVE -------- */

.one_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.prod_text h2 {
    font-size: 2.4rem;
    margin-top: 3.125rem;
    margin-bottom: 1.9375rem;
}

.prod_text p {
    margin-bottom: 1.3125rem;
}

.prod_text p:last-of-type {
    margin-bottom: 1.625rem;
}

.underline {
    color: hsl(176, 68%, 64%);
    padding-bottom: 5px;
    border-bottom:1px solid hsl(176, 68%, 64%);  
}

/* ------- TESTIMONIALS -------- */

.testimonials {
    margin-top: 10.9375rem;
}

.testimonials_box {
    background: hsl(219, 30%, 18%);
    border-radius: 7px;
    margin: 20px;
    padding: 43px 44px 27px 34px;
    box-shadow: 10px 10px hsla(218, 25%, 33%, 0.067);
}

.testimonials_box p {
    line-height: 1.5;
}

.user_info {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.user_info img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 10px;  
}

.user_info h4 {
    margin: 0;
    font-weight: 700;
}

.box1 {
    position: relative;
}

.box1:first-child::before {
    content: url('./images/bg-quotes.png');
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

/* ------- EARLY -------- */

